body {
	font-family: Roboto, sans-serif;
}

button {
	padding: 0 16px;
}

button a {
	text-decoration: none;
	color: #F9FAF8;
}

li a {
	text-decoration: none;
	color: #E5E7EB;
}

li {
	list-style-type: none;
}

.hero, 
.footer{
	background-color: #1F2937;
}

.hero .main {
	font-size: 48px;
	font-weight: 900;
	color: #F9FAF8;
}

.hero .secondary {
	font-size: 18px;
	color: #E5E7EB;
}

.hero .logo {
	font-size: 24px;
	color: #F9FAF8;
}

.information .text {
	font-size: 36px;
	font-weight: 900;
	color: #1F2937;
}

.quote {
	background-color: #E5E7EB;
}

.quote .text {
	font-size: 36px;
	font-weight: 100;
	font-style: italic;
	color: #1F2937;
}

.quote .author {
	font-weight: 700;
}

.action .text {
	font-weight: 700;
	color: #F9FAF8;
}

.action .subtext {
	color: #E5E7EB;
}

button,
.action {
	background-color: #3882F6;
	border-radius: 6px;
}
